/* ----------------------------------------General */
 body {
     padding-top: 80px;
     font-family: 'Dosis', sans-serif;
}
 .row {
     margin: 0;
}
/* ----------------------------------------Navbar*/
 nav {
     background-color: #c80000 ;
     position: fixed;
     padding: 90px 10px;
     font-size: 90px;
     transition: 0.3s;
     width: 100%;
     top: 0;
}
 .navbar-brand {
     width: 80px;
     height: 80px;
}
 .navbar-nav .nav-link {
     text-decoration: none;
     font-size: 25px;
     border-radius: 23px;
     text-align: right;
     transition-property: background-color;
     transition-duration: .5s;
     transition-timing-function: ease-in-out;
}
 .navbar-nav .nav-link:hover {
     color: #fbffff;
     background-color: #ff9e01;
     border-radius: 23px;
}
 .dropdown-menu {
     background-color: #ff7000;
     color: #0b0100;
     position: relative;
}
 .dropdown-item {
     background-color: #ff7000;
     color: #0b0100;
     border-radius: 23px;
}
 .dropdown-item:hover {
     color: #0b0100;
     background-color: #ffffff;
     transition-property: background-color;
     transition-duration: .5s;
     transition-timing-function: ease-in-out;
}
 @media screen and (max-width: 580px) {
     .navbar {
         padding: 20px 10px;
    }
     .navbar a {
         float: none;
         display: block;
         text-align: left;
    }
     .navbar-right {
         float: none;
    }
}
 .logo {
     border-radius: 50px;
}


/* ----------------------------------------home page styles*/

.carousel-item img {
  width:100%;
  height:30em;
  object-fit: cover;
}
 .carousel-caption{
     text-align: center bottom;
     position: absolute;
     margin-bottom: 10%;
     margin-top: 5em;
     color: white;
     text-shadow: 0 1px 2px rgba(0,0,0,.6);
     font-family: 'Permanent Marker', cursive;
}
 .carousel-caption h2 {
     font-size: 5em;
}
 .centered{
     text-align: center;
     font-size: large;
}
 .citiesRow {
     display: flex;
     flex-wrap: wrap;
}
 .home-Image {
     height: 200px;
     width: 300px;
}
 .cities {
     text-align: center;
     padding: 20px;
     position: relative;
}
 .citiesColumn {
     width: auto;
     padding: 0px;
}
 .home-destintions-image {
     background-image: url("../img/homeDestinations.jpg");
     padding: 10px;
     margin: 1em;
}
 .home-destintions-image a h3 {
     text-decoration: none;
     text-align: center;
     color: #ffffff;
     font-size: 3em;
     font-family: 'Permanent Marker', cursive;
     padding-top: 0.75em;
}
 .img-hover-zoom {
     height: 10em;
     overflow: hidden;
     transition: transform .5s ease;
}
 .img-hover-zoom:hover {
     transform: scale(1.25);
}
 .tourTitleHome {
     padding: 35px;
}
 .toursHome {
     width: 100px;
     height: 200px;
}
 .homeTourTitle {
     text-decoration: none;
     color: #ffffff;
     font-size: 30px;
}
 .homeTourTitle:hover {
     color: #79081c;
}
 .popularTours {
     background-color: blanchedalmond;
}
 .about-home {
     background-color: #ff9e01;
     padding: 20px 50px 40px;
}
 .help-link {
     text-decoration: none;
     color: #ffffff;
}
 .help-link:hover {
     text-decoration: none;
     color: #c80000;
}
/*-------------------------------------Destination pages--*/
 #beijing-view {
     background-image: url("../img/beijingTwo.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #shanghai-view {
     background-image: url("../img/shanghaiOne.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #chengdu-view {
     background-image: url("../img/chengduOne.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #suzhou-view {
     background-image: url("../img/suzhouOne.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #qingdao-view {
     background-image: url("../img/qingdaoThree.JPG");
     background-position: center bottom;
     background-repeat: no-repeat;
     background-size: cover;
}
 #guilin-view {
     background-image: url("../img/guilinOne.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 .cityTitle {
     text-align: center;
     color: #ffffff;
     font-size: 3em;
     padding-top: 60px;
     font-family: 'Permanent Marker', cursive;
}
 .aboutRow {
     padding: 15px 10px 20px;
     background-color: #ffebcd;
}
 .pageTour {
     text-align: center;
     padding: 20px;
     position: relative;
     color: #ffffff;
     margin-right: 20px;
}
 .circleTour {
     width: 8em;
     height: 8em;
     border-radius: 5em;
     position: relative;
     display: inline-block;
}
 .tourName {
     position: absolute;
     top: 50%;
     left: 40%;
     z-index: 999;
     margin: 0 auto;
     text-decoration: none;
     color: #ffffff;
     text-align: center;
}
 .tourName:hover {
     color: #79081c;
}
 .adventureTourHome {
     width: 270px;
     height: 300px;
     border-radius: 100%;
}
 .moreInfo {
     padding: 40px;
     text-align: center;
     background-color: #79081c;
}
 .whenVisit {
     padding-top: 30px;
     padding-left: 50px;
     padding-right: 50px;
     background-color: #ffce7f;
}
 .questions {
     text-align: center;
     padding: 40px;
}
 #map {
     min-height: 360px;
     width: 100%;
}
 .destinations-card {
     padding: 40px;
}
 .accordion {
     max-width: 500px;
     margin: 50px auto;
     box-shadow: 0 0 1px rgba(0,0,0,0.1);
     border: none;
}
 .accordion .card-header {
     border-bottom-color: #ffce7f;
     background: #79081c;
     font-family: 'Permanent Marker', cursive;
}
 .accordion .btn {
     width: 100%;
     font-weight: bold;
     color: #fff;
     padding: 0;
}
#card-body-beijing {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/beijingSeven.jpg");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     color: #fff;
}

#card-body-shanghai {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/shanghaiFive.JPG");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     color: #fff;
}

#card-body-suzhou {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/suzhouOne.jpg");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     color: #fff;
}

#card-body-qingdao {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/qingdaoTwo.JPG");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     color: #fff;
}

#card-body-guilin {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/guilinTwo.jpg");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     color: #fff;
}

#card-body-chengdu {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("/assets/img/chengduFour.jpg");
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: cover;
     color: #fff;
}


 .explore-name {
     font-family: 'Permanent Marker', cursive;
     color: #79081c;
     font-size: 4em;
}
 .moreInfo {
     color: #fff;
}
 .img-responsive {
     display: block;
     max-width: 100%;
     max-height: 100%;
     padding: 15px;
}
/*-------------------------------------Book an Adventure page--*/
 #adventure-view {
     background-image: url("../img/beijingFour.jpg");
     height: 50vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     object-fit: cover;
}
 .adventureTitle {
     text-align: center;
     color: #ffffff;
     padding-top: 60px;
     font-family: 'Permanent Marker', cursive;
     font-size: 8vw;
}
 .adventureTour {
     width: 270px;
     height: 300px;
}
 .bookTour {
     text-decoration: none;
     color: #ffffff;
     font-family: 'Permanent Marker', cursive;
     font-size: 40px;
}
 .tourColumn {
     padding: 20px;
     position: relative;
     text-align: center;
     color: #ffffff;
}
 .centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .personalize{
     text-align: center;
     padding: 20px;
}
/*-----------------------------------Tour Page --*/
 .carousel-caption-tour h2{
     padding-top: 1em;
     font-size: 3em;
}
 .tour-carousel-image {
     object-fit: cover;
     width: 100%;
     max-height: 25em !important;
}
 .highlights {
    padding: 10px 25px;
    background-color: #c80000;
}

.highlights-container {
 background-color: #fff;
 margin: 0px, 32px;
}

 .tourPictures {
     position: relative;
     text-align: center;
     color: #ffffff;
}
 .itineraryPicture {
     height: 15em;
     width: auto;
     padding: 1em;
     object-fit: cover;
}

#itineraryPicture-suzhou {
    width: 200px;
    position: bottom right;
}

#itineraryPicture-garden {
    width: 200px;
}

 .inquiry-link {
     background-image: url("../img/inquiryButton.jpg");
     height: 4em;
     width: 2em;
     margin-top: 40px;
     padding: 20px;
}
 .inquiry-link h4 {
     font-family: 'Permanent Marker', cursive;
     font-size: 2.5em;
     padding-bottom: 10px;
     text-align: center;
}
 .inquiry-link p {
     font-size: 2em;
     text-align: center;
}
 .btn-inquiry {
     font-family: 'Permanent Marker', cursive;
     font-size: 2em;
     margin-top: 20px;
}
 .btn-inquiry:hover {
     background-color: #79081c;
}
 .itinerary {
     background-color: #c80000;
}
 .itineraryText {
     padding: 40px;
     color: #fff;
}
 #itinerary-tour-one {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/beijingSeven.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center bottom;
     background-size: cover;
}

#itinerary-tour-two {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/suzhouOne.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
}

#itinerary-tour-three {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../img/qingdaoTwo.JPG");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center bottom;
     background-size: cover;
}
 .itineraryText h3 {
     font-size: 3em;
}
 .itineraryText h4 {
     font-size: 2em;
}
 .itineraryText p {
     font-size: 1.25em;
}
 .questionButton {
     border: none;
     outline: none;
     background-color: #ff9e01;
     color: #0b0100;
     padding: 10px;
     border-radius: 10px;
     font-size: 18px;
     margin-top: 10px;
}
 .questionButton:hover {
     background-color: #555;
    /* Add a dark-grey background on hover */
}
/*-----------------------------------Contact Page --*/
 #contactview {
     padding-top: 100px;
     padding-bottom: 0;
     background-image: url("../img/contact.jpg");
     max-width: 100%;
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 .contact-text {
     text-align: center;
}
 .forminput {
     background-color: transparent;
     text-transform: uppercase;
     border: 2px solid grey;
     padding: 3px;
     color: #0b0100;
     height: 45px;
     margin-left: 35%;
     max-width: 30%;
     margin-top: 5px;
}
 .custom-select {
     margin-left: 35%;
     margin-top: 5px;
     width: 30%;
     background-color: transparent;
     text-transform: uppercase;
     border: 2px solid grey;
}
 .custom-select select {
     display: none;
}
 .contactButton {
     border: none;
     outline: none;
     background-color: #ff9e01;
     color: #0b0100;
     padding: 10px;
     border-radius: 10px;
     font-size: 18px;
     margin-top: 10px;
}
 .contactButton:hover {
     background-color: #555;
}
 .modalthank {
     font-family: 'Permanent Marker', cursive;
     font-size: 20px;
}
/*-----------------------------------Footer --*/
 #toTopBtn {
     background-color: #79081c;
     border-radius: 50%;
}
 footer {
     background-color: #525252;
     color: #ffffff;
     min-width: 100%;
}
 .social-links {
     text-align: center;
     padding-top: 10px;
}
 .logo-footer{
     height: 120px;
     left: 50%;
     position: absolute;
     top: 50%;
     width: 250px;
}
 .footer-nav-item {
     width: 42px;
     height: 42px;
     padding: 12px 0;
     border-radius: 50%;
     font-size: 30px;
     line-height: 9px;
     text-align: center;
     justify-content: center;
     color: #ffffff;
     background: #8f8f8f;
     margin-left: 25px;
     transition: all 0.35s ease-in-out;
     -moz-transition: all 0.35s ease-in-out;
     -webkit-transition: all 0.35s ease-in-out;
     -o-transition: all 0.35s ease-in-out;
}
 .footer-nav-item:hover{
     background-color: #79081c;
     padding-bottom: 5px;
}
 ion-icon {
     color: #ffffff;
}
 .footer-copyright {
     padding: 15px;
}
